# anpd folder ------------------------------------------------------------------
anpd/out/*.weights
anpd/anpd.data

!anpd/out/anpd_best.weights

# image dataset ----------------------------------------------------------------
dataset/

# release files ----------------------------------------------------------------
release/

# others -----------------------------------------------------------------------
__pycache__/
